.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 45%;
  max-width: 600px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .modal-content {
    width: 85%; /* Increase width to 90% for better fit on mobile */
    margin: 20% auto;
  }

  .close {
    font-size: 24px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  form {
    padding: 10px;
  }

  table {
    width: 100%;
    border-collapse: collapse; /* Ensure table borders collapse */
  }

  th, td {
    padding: 5px;
    word-wrap: break-word; /* Ensure long words break to fit within the cell */
    overflow-wrap: break-word; /* Ensure long words break to fit within the cell */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }

  th {
    font-size: 12px; /* Adjust font size for table headers */
  }

  td {
    font-size: 11px; /* Adjust font size for table data */
  }
}

/* Media query for very small devices */
@media (max-width: 400px) {
  .modal-content {
    width: 80%; /* Increase width to 95% for very small devices */
    margin: 20% auto;
  }

  .close {
    font-size: 24px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }

  input {
    width: 100%;
    margin-bottom: 10px;
  }

  form {
    padding: 10px;
  }

  table {
    width: 90%;
    border-collapse: collapse; /* Ensure table borders collapse */
  }

  th, td {
    padding: 3px;
    word-wrap: break-word; /* Ensure long words break to fit within the cell */
    overflow-wrap: break-word; /* Ensure long words break to fit within the cell */
    text-overflow: ellipsis; /* Add ellipsis for overflow text */
  }

  th {
    font-size: 10px; /* Adjust font size for table headers */
  }

  td {
    font-size: 12px; /* Adjust font size for table data */
  }
}