
input, button, label {
    margin-top: 10px;
  }
  
  tbody {
    text-align: center;
  
    tr {
      td {
        padding: 10px;
      }
    }
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  thead {
    background-color: #f0f0f5;
  }
  
  button {
    background-color: gray;
    color: #fff;
    border: 0;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #333;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
  }
  
  table {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  th {
    padding: 10px;
  }
